h1{
    color: rgb(155, 67, 9);
        padding: 10px 10px;
        font-size: 64px;
        align-items: center;
    opacity: 1;
}

header {
        position: sticky; /* Makes it stick when scrolling */
        top: 0;           /* Sticks to the top of the viewport */
        background-color: #b1ffe9;
        z-index: 1000;    /* Ensures it stays above other content */
    }

.boxed {
    border-style: double dotted;
    border-color : blue;
    border-width : 2px 5px;
    font-size: 24px;
    margin: 20px;
}

.boxed2 {
    border-style: solid;
    border-color : rgb(50, 84, 5);
    border-width : 10px;
    font-size: 24px;
    margin: 20px;
}

.forms {
    border-style: solid;
    border-color : #333355;
    border-width : 3px;
    font-size: 24px;
    margin: 20px;
}

h2 {
    color: rgb(8, 151, 0);
    font-size: 48px;
}

h3 {
    color: black;
    font-size: 36px;
}
